/*
Project Name: P3 Ohmyfood
Description: Ohmyfood - anime a web page with css animations
Version: 1.0
Author: Blas Pierre-Gérard
Email: pierreg.blas@gmail.com
Git repository: https://gitlab.com/pgb_oc/ohmyfood
GitLab Pages: https://pgb_oc.gitlab.io/ohmyfood
Methodology: BEM + variables + SASS
Tags: html5, css3 animation, integration, responsive, ohmyfood, openclassrooms, sass, mobile first
Copyright 2021 - All rights reserved
Creation date: 03/06/2021
Last modification: 06/07/2021
 
  ---------------------------
  MAIN STYLES
  ---------------------------
  
  TABLE OF CONTENTS
  ---------------------------
   01. Global styles (Mobile first)
   02. Header - Navigation Menu
   03. Location
   04. Filters box
   05. Hosting section
   06. Pages styles
   07. Footer section
   08. Responsive - Desktop and xxl screen
   09. Responsive - Laptops
   10. Responsive - Smartphones
   11. Responsive - Tablets
   12. Responsive - Laptops
*/

/* ===================================================================================================== */
/* 01. Global styles                                                                                     */
/* ===================================================================================================== */

@font-face {
    font-family: 'Shrikhand', cursive;
    src: url('/fonts/Shrikhand-Regular.ttf');
    src: local('Shrikhand-Regular'), url('/fonts/Shrikhand-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('/fonts/Roboto-Thin.ttf');
    src: local('Roboto-Thin'), url('/fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('/fonts/Roboto-Regular.ttf');
    src: local('Roboto-Regular'), url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('/fonts/Roboto-Medium.ttf');
    src: local('Roboto-Medium'), url('/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('/fonts/Roboto-Bold.ttf');
    src: local('Roboto-Bold'), url('/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-color: #000;
    --white-font-color: #fff;
    --grey-font-card-alert: #008766;
    --grey-bg-header: #eaeaea;
    --grey-bg: #f6f6f6;
    --blue-light-bg-hover: #f5edff;
    --grey-bg-card-alert: #99e2d0;
    --grey-border: #d9d9d9;
    --grey-shadow: rgba(227, 227, 227, 0.4);
    --grey-shadow-hover: rgba(227, 227, 227, 0.8);
    --black-shadow: rgba(0, 0, 0, 0.15);
    --black-shadow-hover: rgba(0, 0, 0, 0.25);
    --hgradient: url(#heart_gradient);
    --blue-color: #9356dc; /* icon list number & hover */
    --green-color: #99e2d0; /* sub-title page & hover action */
    --gradient: linear-gradient(-180deg, #FF79DA, #9356DC);
    --footer-bg: #353535;
    --font-light: "Roboto";
    --font-regular: "Roboto";
    --font-bold: "Roboto";
    --font-page: "Shrikhand", cursive;
    --word-spacing: "0.5px";
    --letter-spacing: "1px";
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*border: 1px solid red;*/
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    position: absolute!important;
    display: flex!important;
    flex-direction: row!important;
    align-items: center!important;
    justify-content: center!important;
    text-align: center!important;
    margin-top: -50px!important;
    padding-bottom: 20px!important;
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--font-color);
}

h2 {
    font-family: var(--font-bold);
    font-size: 1.000em;
    color: var(--font-color);
}

a, a:hover, a:active, a:visited, a:link {
    -webkit-transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -ms-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
    color: var(--font-color);
}

p {
    font-family: var(--font-regular);
    font-weight: 400;
    font-size: 0.938em;
    color: var(--font-color);
    margin: 0px 0px;
}

body {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Css Loader*/
.loader-container {
    position: relative;
    width: 100%;
    /*height: 100vh;*/
    height: 830px;/*Demo hack*/
    margin: 0 auto;
    text-align: justify;
    margin-bottom: -830px!important;/*Demo hack*/
    z-index: 0;/*Demo hack*/
}
.loading-spinner {
    cursor: progress;
    position: absolute;
    width: 100%;
    height: 100%;
}
.loading-spinner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    background: var(--font-color);
    opacity: 0.6;
    animation: LoadingHide 3s linear 4s 1 forwards;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.loading-spinner::after {
    box-sizing: border-box;
    z-index: 999999;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid var(--grey-bg);
    border-top: 3px solid var(--blue-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: Loading 3s linear 4s 1 forwards;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
@keyframes Loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); opacity: 0; }
}
@keyframes LoadingHide {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); opacity: 0; }
}
header {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px 0px var(--black-shadow-hover);
    background-color: var(--white-font-color);
}

.page-container {
    width: 100%;
    /*border: 1px solid red;*/
}

.widgets-container {
    z-index: 0;
    position: relative;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.widgets-container p {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    flex-basis: 70%;
}

.logo img {
    display: flex;
    height: 60px;
    width: 170px;
    align-content: center;
}

/* ===================================================================================================== */
/* 02. Header - Navigation Menu                                                                          */
/* ===================================================================================================== */

nav {
    display: flex;
    justify-content: center;
}

nav ul.menu {
    display: flex!important;
    position: relative!important;
    flex-basis: 95%!important;
    list-style: none;
    flex-direction: row;
}

nav ul.menu li a {
    display: inline-block!important;
    padding: 0px!important;
    font-family: var(--font-bold);
    font-weight: 700!important;
    color: var(--font-color)!important;
    font-size: 1.000em!important;
    text-decoration: none;
    letter-spacing: 0.5px;
    text-align: center;
}

nav ul.menu li a:hover, nav ul.menu li a:active, nav ul.menu li a:visited {
    color: var(--blue-color)!important;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

nav ul.menu li a.nav-link {
    /*Hack for chrome*/
    color: var(--font-color)!important;
}

ul.menu li a.nav-link:hover, ul.menu li a.nav-link:active {
    /*Hack for chrome*/
    color: var(--blue-color)!important;
}

/* ===================================================================================================== */
/* 03. Location                                                                                   */
/* ===================================================================================================== */

.geolocation-container {
    flex-basis: 100%!important;
    display: flex!important;
    flex-direction: row!important;
    align-items: center!important;
    justify-content: center!important;
    text-align: center!important;
}

button {
    text-align: center;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.geolocation {
    margin-top: 0px;
    width: 150px;
}

.group-icon {
    position: absolute!important;
    display: flex!important;
    flex-direction: row!important;
    align-items: center!important;
    justify-content: center!important;
    text-align: center!important;
}

.group-icon .icon {
    z-index: 0;
    position: absolute;
    top: 1px;
    left: 1px;
    min-width: 50px;
    min-height: 49px;
    text-align: center;
    pointer-events: none;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

i.fa.fa-map-marker-alt {
    vertical-align: top!important;
    margin-top: 0px;
}

.geolocation button {
    position: absolute;
    left: 40%;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: all .3s ease-in-out;
}

.geolocation p {
    position: relative!important;
    display: inline-block!important;
    padding-left: 17px;
    font-size: 16px;
    font-family: var(--font-bold);
    color: var(--font-color);
    font-weight: 500!important;
}   

.slide-container {
    display: flex;
    flex-direction: row;
    align-items: center!important;
    justify-content: center!important;
    height: 100%;
    max-height: 287px;
    margin-top: -15px;
    background-color: var(--grey-bg);
}

.form-container {
    display: flex;
    flex-direction: row;
    align-items: center!important;
    justify-content: center!important;
}

button.btn-search {
    display: flex!important;
    justify-self: center!important;
    justify-content: center!important;
    border: none;
    margin-top: 190px;
    height: 50px;
    width: 220px;
    border-radius: 25px;
    background: var(--gradient);
    box-shadow: 5px 5px 8px var(--black-shadow);
}

button.btn-search:hover {
    color: var(--grey-bg);
    color: var(--white-font-color)!important;
    box-shadow: 5px 5px 8px var(--black-shadow-hover)!important;
}

span.btn-text {
    position: relative!important;
    display: inline-block!important;
    font-size: 16px;
    color: var(--font-color);
    font-family: var(--font-regular);
    font-weight: 400;
    font-family: var(--font-bold)!important;
    color: var(--white-font-color)!important;
    align-self: center!important;
}

/* ===================================================================================================== */
/* 04. Filters box                                                                                       */
/* ===================================================================================================== */

.filters-container {
    display: flex;
    flex-basis: 100%;
    min-height: 460px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    justify-content: center;
}

.filter-box {
    z-index: 0;
    width: 100%;
    height: 70px;
    width: 325px;
    margin-right: 25px;
    margin-left: 20px;
    margin-top: -100px;
    margin-bottom:85px;
    padding: 0px 0px;
    border: none;
    border-radius: 25px;
    background-color: var(--grey-bg);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    line-height: 75px;
    color: var(--font-color);
    box-shadow: 5px 5px 8px var(--black-shadow);
}

.filter-box:hover {
    background-color: var(--blue-light-bg-hover);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 5px 5px 8px var(--black-shadow-hover);
}

h2.filter-tag {
    margin-top: 0px!important;
    margin-right: 20px!important;
    margin-left: -20px!important;
}

h2.filter-tag a.filter-link-02 {
    margin-left: -25px!important;
}

h2.filter-tag a.filter-link-03 {
    margin-left: -10px!important;
}

.filter-title {
    display: flex;
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 24px;
    color: var(--font-color);
    letter-spacing: 0.5px!important;
    padding-bottom: 75px;
    padding-left: 20px;
    padding-top: 20px;
}

h2.filter-tag a {
    letter-spacing: 0.5px!important;
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 16px;
    font-family: var(--font-bold);
    color: var(--font-color);
    text-decoration: none;
}

.filter-circle-container {
    position: relative;
    float: left;
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin-left: -5px;
    margin-top: 25px;
    font-weight: normal;
    border-radius: 90%;
    -webkit-border-radius: 90%;
    background-color: var(--blue-color);
}

.filter-circle-container:hover,
.filter-box:hover .filter-circle-container {
    display: block!important;
    transition: ease-in-out 0.5s!important;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transition: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.filter-circle-container span {
    position: absolute;
    display: inline-block;
    color: var(--white-font-color);
    font-family: var(--font-regular);
    font-size: 14px;
    margin-top: -24px;
    margin-left: -4px;
}

.filter-icon {
    position: relative;
    float: left;
    cursor: pointer;
    margin-left: 0px;  
}

.filter-box .filter-icon:hover i {
    display: inline-block!important;
    color: var(--white-bg)!important;
}

.filter-box .filter-icon i {
    display: inline-block;
    margin-left: 25px; 
}
i.fa-solid.fa-mobile-screen-button {
    background-color: var(--blue-color)!important;
}

.fas.fa-mobile-alt,
.fas.fa-list-ul{
    font-size: 1.2em!important;
}
.fas.fa-store {
    font-size: 1em!important;
}

i.fas.fa-mobile-alt:hover,
i.fas.fa-list-ul:hover,
i.fas.fa-store:hover{
    color: var(--blue-color)!important;
}

.filter-box:hover i {
    display: inline-block!important;
    color: var(--blue-color)!important;
    transition: ease-in-out 0.5s!important;
}

.filter-box:hover i {
    display: inline-block!important;
    color: var(--blue-color)!important;
    transition: ease-in-out 0.5s!important;
}

.sub-title {
    position: absolute!important;
    display: flex!important;
    flex-direction: row!important;
    align-items: center!important;
    justify-content: center!important;
    text-align: center!important;
    font-family: var(--font-light);
    font-weight: 300;
    font-size: 18px;
    width: 90%;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}

/* ===================================================================================================== */
/* 05. Hosting section                                                                                   */
/* ===================================================================================================== */

#hosting {
    display: flex;
    flex-basis: 100%;
    box-sizing: border-box!important;
}

h2.card-title {
    z-index: 1;
    position: absolute;
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 24px;
    color: var(--font-color);
    letter-spacing: 0.5px!important;
    margin: 50px 50px 40px 50px!important;
}

.hosting-card-content {
    position: absolute;
    display: block;
    margin-top: 175px!important;
    min-width: 335px!important;
    height: 75px!important;
    background: var(--white-font-color);
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
}

.card-content_title {
    margin-left: 15px;
    margin-top: 15px;
    color: var(--font-color);
    font-family: var(--font-bold);
    letter-spacing: 0.5px!important;
    font-size: 18px;
    letter-spacing: var(--letter-spacing);
}

.card-content_title a {
    text-decoration: none;
}

.card-content_title a:hover {
    color: var(--grey-font-card-alert)!important;
}

.card-content_desc {
    position: absolute;
    width: 90%;
    padding: 20px 10px 0px 15px;
    padding-bottom: 30px;
    margin-top: -35px;
    font-weight: 300;
    font-size: 18px;
    color: var(--font-color);
    font-family: var(--font-light);
    letter-spacing: var(--letter-spacing);
}

span.card-content_price {
    position: absolute;
    display: inline;
    padding: 10px 5px 15px 15px;
    font-size: 0.750em;
    color: var(--font-color);
    font-family: var(--font-bold);
    letter-spacing: var(--letter-spacing);
    margin-left: 90px;
    margin-top: -24px!important;
}

.card-content_icon {
    z-index: 1;
    position: absolute;
    display: inline;
    vertical-align: middle;
    margin-left: 285px;
    margin-top: -35px!important;
}
/*Heart SVG icon animation*/
.heart-svg-icon {
    fill: transparent!important;
    stroke: var(--font-color);
    stroke-width: 20;
    cursor: pointer;
    position: relative;
}
.heart-svg-icon svg {
    overflow: visible;
    width: 22px;
    height: 22px;
}

.heart-svg-icon:after{
      z-index: 2;
    border:0px solid black!important;
    /*background-color: transparent!important;*/
    box-sizing : border-box!important; 
}

.heart-svg-icon:hover:after{
      z-index: 2;
    border-width: 22px!important;
}

.heart-svg-icon path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
}

.heart-svg-icon .heart-background { /*Fix margin for Chrome OK for firefox...*/
    position:absolute;
    left: 26px;
    right: 0;
    bottom: 0;
    top: -8px;
    z-index: -1;
    margin-left: -26px;
}

.heart-svg-icon .heart-body:hover path {
    animation: stroke-animation 0.80s ease-in-out forwards;
}

.heart-svg-icon .heart-body:hover ~ .heart-background path {
    animation: fade-animation 0.80s ease-in-out forwards;
}
  
  @keyframes stroke-animation {
    0% {
        stroke-dashoffset: 3100;
    }
    30% {
        stroke-dashoffset: 3100;
    }
    60% {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: var(--hgradient);
      transform: scale(1.1);
    }
    90% {
      transform: scale(1);
    }
    100% {
      stroke-dashoffset: 3100;
      fill: url(#heart_gradient);
      stroke: var(--hgradient);
    }
  }
  @keyframes fade-animation {
    0% {
        transform: scale(0.2);
        margin-top: -15px;
      }
    30% {
        transform: scale(0.5);
      }
    60% {
        transform: scale(0.8);
      }
    70% {
      fill: transparent!important;
      transform: scale(1);
    }
    80% {
      fill: var(--hgradient);
      transform: scale(1.1);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
/*End of Heart SVG icon animation*/

.hosting-container {
    display: flex;
    flex-basis: 100%;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 0px;
    background-color: var(--grey-bg);
    justify-content: center;
}

.card-link-activities:nth-child(1) {
    margin-top: 80px!important;
}

.card-link-activities:nth-last-child(1) {
    margin-bottom: 65px!important;
}

.hosting-card-01, .hosting-card-02, .hosting-card-03, .hosting-card-04, .hosting-card-05 {
    display: flex;
    flex-basis: 23.33%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    min-width: 335px!important;
    max-height: 250px!important;
    margin-top: 20px!important;
    background-color: var(--white-bg);
    margin: auto;
    border-radius: 15px;
    cursor: pointer;
    box-sizing: border-box!important;
    overflow: hidden!important;
}

.hosting-card-01:hover, .hosting-card-02:hover, .hosting-card-03:hover, .hosting-card-04:hover, .hosting-card-05:hover {
    box-shadow: 6px 6px 6px 6px var(--grey-shadow--hover);
}

.hosting-card-img {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    min-width: 334px!important;
    min-height: 250px!important;
    margin: 0px 0px 80px 0px!important;
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important;
    overflow: hidden!important;
    text-decoration: none;
}

span.hosting-card-img:hover span.hosting-img_image {
    transform: scale(1.2);
}

span.hosting-card-img:hover span.hosting-img_hover {
    visibility: visible;
    opacity: 1;
}

span.hosting-card-img:hover span.hosting-img_name {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

span.hosting-img_image {
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    min-width: 335px!important;
    max-height: 250px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important;
    box-sizing: border-box;
    transform: scale(1);
    will-change: transform;
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 0;
    overflow: hidden!important;
}

.hosting-zoom-adjustment {
    width: 100%!important;
    margin-top: -14%!important;
    margin-left: 0%!important;
}

.hosting-zoom-adjustment-02 {
    width: 100%!important;
    margin-top: -44%!important;
    margin-left: 0%!important;
}

span.hosting-img_alert-new {
    position: absolute;
    width: 80px;
    height: 30px;
    background-color: var(--grey-bg-card-alert);
    border-radius: 2.5px;
    margin-left: 240px;
    margin-top: -195px;
}

span.hosting-img_alert-new .alert-text {
    position: relative;
    font-family: var(--font-bold);
    font-weight: 500;
    color: var(--grey-font-card-alert);
    font-size: 14px;
    padding: 12px;
    top: 5px!important;
    padding-top: 25px!important;
}

span.hosting-img_hover {
    visibility: hidden;
    display: block;
    position: absolute;
    width: 335px!important;
    min-height: 250px!important;
    background: radial-gradient(rgba(47, 48, 50, 0.1), rgba(47, 48, 50, 0.3));
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
    transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    overflow: hidden!important;
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important;
}

.hosting-img_name {
    visibility: hidden;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    transform: scale(0.6);
    transform-origin: center center;
    transition: visibility 0.14s ease-out, opacity 0.14s ease-out, transform 0.24s ease;
    opacity: 0;
}

.hosting-img_name .see-more {
    text-decoration-line: overline;
    color: var(--font-color);
    font-family: var(--font-bold);
    letter-spacing: 1px;
    font-size: 1.000em;
    background: rgba(255, 255, 255, 0.6);
    padding: 7px;
    margin-top: 0%;
    margin-left: -3%;
    text-align: center;
}

/* ===================================================================================================== */
/* 06. Pages styles                                                                                      */
/* ===================================================================================================== */

.prev-arrow-nav {
    z-index: 2;
    position: absolute;
    vertical-align: middle;
    margin-left: -310px;
}

.fas.fa-arrow-left {
    font-size: 1.25em!important;
}

.fas.fa-arrow-left:hover {
    color: var(--green-color)!important;
}

.header-zoom {
    width: 100%!important;
    margin-top: -3%!important;
    margin-left: 0%!important;
    background-size: cover!important;
}

h1.card-title-page {
    position: absolute;
    font-family: var(--font-page)!important;
    font-weight: 100!important;
    color: var(--font-color);
    font-size: 26px;
    letter-spacing: 0.5px!important;
    margin: 90px 0px 40px 15px!important;
}

.menu-card_title {
    text-decoration: none!important;
    margin-left: 15px;
    margin-top: 12px;
    color: var(--font-color);
    font-family: var(--font-bold);
    font-weight: 500;
    font-size: 17.5px;
}

.menu-card_desc {
    position: relative;
    width: 260px;
    padding-right: 10px;
    top: -10px!important;
    padding-left: 15px;
    vertical-align: middle!important;
    font-weight: 300;
    font-size: 14px;
    color: var(--font-color);
    font-family: var(--font-light);
    letter-spacing: var(--letter-spacing);
}

.slide-container_page {
    height: 100%;
    max-height: 250px!important;
    margin-top: 0px!important;
    background-color: var(--grey-bg);
}

#hosting {
    margin-top: -25%!important;
}

.hosting-container_page {
    border-top-right-radius: 35px!important;
    border-top-left-radius: 35px!important;
}

.card-content_icon_page {
    z-index: 1;
    position: absolute;
    display: inline;
    vertical-align: middle;
    margin-left: 85%!important;
    margin-top: 7%!important;
}

.menu-card {
    display: flex;
    flex-basis: 23.33%;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px!important;
    width: 350px;
    background: var(--white-font-color);
    border-radius: 15px;
    cursor: pointer;
    box-sizing: border-box!important;
    overflow: hidden!important;
    box-shadow: 5px 5px 8px var(--black-shadow);
}

.menu-card:hover{
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 5px 5px 8px var(--black-shadow-hover);
}

.menu-type-container-01{
    margin-top: 140px;
}

.menu-type-container-02,
.menu-type-container-03 {
    margin-top: 75px;
}

h2.menu-type_title,
h2.menu-type_title-02,
h2.menu-type_title-03 {
    position: absolute;
    font-family: var(--font-regular);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--font-color);
    letter-spacing: 0.5px!important;
    margin: -45px 50px 40px 10px!important;
}

.card-link-menu {
    position: relative;
    height: 70px;
    width: 350px;
    text-decoration: none!important;
}

.card-link-menu:nth-child(1) {
    margin-top: 145px!important;
}

.menu-type-container-01 .menu-card:nth-child(1),
.menu-type-container-01 .menu-card:nth-child(2),
.menu-type-container-01 .menu-card:nth-child(3),
.menu-type-container-01 .menu-card:nth-child(4),
.menu-type-container-02 .menu-card:nth-child(1),
.menu-type-container-02 .menu-card:nth-child(2),
.menu-type-container-02 .menu-card:nth-child(3),
.menu-type-container-02 .menu-card:nth-child(4),
.menu-type-container-03 .menu-card:nth-child(1),
.menu-type-container-03 .menu-card:nth-child(2),
.menu-type-container-03 .menu-card:nth-child(3),
.menu-type-container-03 .menu-card:nth-child(4) {
    margin-bottom: 15px!important;
}

.menu-title-underline,
.menu-title-underline-02,
.menu-title-underline-03 {
    position: absolute;
    display: block;
    height: 3px;
    width: 40px;
    background: var(--green-color);
    margin-top: -20px;
    margin-left: 10px;
}

.form-container_page {
    margin-top: -95px!important;
    margin-bottom: 80px;
}

.footer-container-page {
    display: flex;
    flex-basis: 100%;
    height: 200px!important;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    background-color: var(--footer-bg);
}

/* Card icon animation*/
.menu-card_icon-container {
    z-index: 1;
    align-self: flex-end;
    color: var(--font-color);
    padding: 10px 10px;
    width: 60px;
    font-size: 18px;
    padding: 25px 0px;
    margin-right: -17px!important;
    cursor: pointer;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.icon-container-content {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.icon-container-content:hover,
.icon-container-content:hover,
a.card-link-menu:hover .icon-container-content {
    background: var(--green-color);
    -webkit-transform: translate3d(-1rem, 0, 0);
    transform: translate3d(-1rem, 0, 0);
}

span.menu-icon {
  position: relative;
}

span.menu-icon span {
  display: inline-block;
  position: relative;
}

span.menu-card_price {
    font-size: 0.85em;
    color: var(--font-color);
    font-family: var(--font-bold);
    font-weight: 700;
    word-spacing: -2px;
    margin-left: -5px;
    padding-top: 15px;
}

span.menu-card_price:hover,
span.menu-card_price:focus,
span.menu-icon:hover span,
span.menu-icon:focus span,
a.card-link-menu:hover span.menu-icon span{
  -webkit-transform: translate3d(-0.8rem, 0, 0);
  transform: translate3d(-0.8rem, 0, 0);
   margin-left: -25px!important;
}

.fas.fa-check-circle {
  font-size: 22px!important;
  color: white!important;
}
i.menu-card_icon {
    margin-top: -15px!important;
}

span.menu-icon i {
  display: inline-block;
  position: absolute;
  left: 5rem;
  opacity: 0;
  -webkit-transform: translateZ(-500px);
  -ms-transform: translateZ(-500px);
  transform: translateZ(-500px);
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: left, opacity;
}

span.menu-icon:hover i,
span.menu-icon:focus i,
a.card-link-menu:hover span.menu-icon i {
  opacity: 1;
  left: 3.6rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37.5% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62.5% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87.5% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hover States */
.rotation:hover i,
a.card-link-menu:hover .rotation i {
    -webkit-animation-name: rotation;
          animation-name: rotation;
   -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

/* Progressive appear card animation */
.card-animation-01 {
    animation: appear 1s ease 0s 1 normal;
    -webkit-animation: appear 1s ease 0s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.card-animation-02 {
    animation: appear 2s ease 2s 1 normal;
    -webkit-animation: appear 2s ease 1s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.card-animation-03 {
    animation: appear 3s ease 4s 1 normal;
    -webkit-animation: appear 3s ease 2s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.card-animation-04 {
    animation: appear 4s ease 6s 1 normal;
    -webkit-animation: appear 4s ease 3s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animation-fadeinup {
    opacity: 0
}

.fadeinup {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* fadeInUp */
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

/* appear */
@keyframes appear {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0.3
      }
    100% {
      opacity: 1;
    }
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
          opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}


/* ===================================================================================================== */
/* 07. Footer section                                                                                    */
/* ===================================================================================================== */

#footer {
    display: flex;
    flex-basis: 100%;
}

.footer-container {
    display: flex;
    flex-basis: 100%;
    height: 200px;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    background-color: var(--footer-bg);
}

.logo-footer {
    display: flex;
    flex-basis: 70%;
}

.logo-footer img {
    display: flex;
    height: 27px;
    width: 115px;
    align-self: flex-start;
}

i.fas.fa-utensils,
i.fas.fa-hands-helping {
    color: var(--white-font-color)!important;
    margin-right: 10px!important;
    font-size: 0.95em!important;
}

i.fas.fa-hands-helping {
    font-size: 0.7em!important;
}

.footer-links-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-right: auto;
    margin-left: 50px;
}

.footer-links-container:nth-child(2) {
    margin-bottom: 250px!important;
}

.footer-links-container ul {
    list-style-type: none;
}

.footer-links-container ul li,
.footer-links-container:nth-child(2) ul li {
    margin-left: -30px;
    font-family: var(--font-regular);
    font-weight: 400;
    font-size: 16px!important;
    line-height: 25px!important;
}

.footer-links-container:nth-child(2) ul li {
    font-weight: 300!important;
}

.footer-links-container ul li a {
    text-decoration: none;
    color: var(--white-font-color);
}

.footer-links-container ul li a:hover {
    color: var(--green-color)!important;
}

.footer-links-container:nth-child(1) {
    margin-top: 20px!important;
}

.footer-links-container:nth-child(2) {
    margin-top: -30px!important;
}

/* ===================================================================================================== */
/* 08. Responsive - Desktop and xxl screens                                                              */
/* ===================================================================================================== */

@media screen and (min-width: 1441px)  and (max-width: 7700px) {
    /*Css Loader*/
    .loader-container {
        height: 1381px!important;/*Demo hack*/
        margin-bottom: -1381px!important;/*Demo hack*/
        z-index: 0!important;/*Demo hack*/
    }
    .filter-box {
        margin-top: -400px!important;
        margin-bottom: 10px!important;
    }
    .filter-box:nth-child(1) {
        margin-bottom: -60px!important;
    }
    .filter-box:nth-child(2) {
        margin-bottom: 10px!important;
    }
    .filter-box:nth-last-child(1) {
        margin-top: -400px!important;
    }
    .filters-container {
        margin-top: 50px!important;
        margin-bottom: 50px!important;
        min-height: 520px!important;
    }
    .filter-title {
        padding-bottom: 425px!important;
        padding-right: 100px!important;
        margin-left: -5px!important;
    }
    .widgets-container {
        height: 50px!important;
        background-color: var(--grey-bg-header)!important;
    }
    nav {
        margin-top: -55px!important;
        margin-left: 55%!important;
        margin-bottom: 25px!important;
    }
    nav ul.menu {
        flex-basis: 95%!important;
    }
    nav ul.menu li a {
        padding: 0px 60px 0px 0px!important;
    }
    .logo {
        flex-basis: 5%!important;
        margin-top: 20px!important;
        margin-left: 120px!important;
    }
    h2.card-title {
        margin-left: 150px!important;
    }
    .hosting-card-01 {
        margin-top: 0px!important;
        margin-right: 160px!important;
    }
    .hosting-card-02 {
        margin-top: 100px!important;
    }
    .hosting-card-03 {
        margin-top: 40px!important;
        margin-bottom: 80px!important;
    }
    .hosting-card-04 {
        margin-top: 140px!important;
        margin-left: 40px!important;
    }
    .card-content_icon_page {
        margin-left: 94.5%!important;
        margin-top: 2.5%!important;
    }
    .prev-arrow-nav {
        z-index: 2;
        position: absolute;
        vertical-align: middle;
        margin-left: 94%!important;
        margin-top: 0px!important;
    }
    .fas.fa-arrow-left {
        font-size: 1.25em!important;
    }
    .fas.fa-arrow-left:hover {
        color: var(--green-color)!important;
    }
    .header-zoom {
        width: 100%!important;
        margin-top: -9%!important;
        margin-left: 0%!important;
        background-size: cover!important;
    }
    .slide-container_page {
        height: 0!important;
    }
    .header-zoom_page {
        z-index: -1!important;
        width: 100%!important;
        top:0!important;
        bottom: 0!important;
        left: 0!important;
        margin-top: 20%!important;
        background-size: cover!important;
        max-height: 170vh!important;
    }
    .hosting-container {
        margin-top: -23%!important;
    }
    h1.card-title-page {
        margin-top: 30px!important;
        margin-left: 35px!important;
    }
    h2.card-title {
        margin-top: -20%!important;
        margin-left: 145px!important;
    }
    .hosting-container_page {
        background-color: rgba(246, 246, 246, 0.7)!important;
        justify-content: space-around!important;
    }
    .menu-type-container-01{
        margin-left: -10px!important;
    }
    .menu-type-container-02 {
        margin-top: 137px!important;
    }
    .menu-type-container-03 {
        margin-top: 135px!important;
    }
    .form-container_page {
        flex-basis: 100%!important;
        margin-top: -120px!important;
        flex-wrap: wrap;
        justify-content: space-around!important;
    }
    #hosting_page {
        margin-top: 28%!important;
    }
    #hosting {
        margin-top: 0px!important;
    }
    h2.footer-title {
        margin-top: 0px!important;
    }
    .logo-footer {
        margin-bottom: 15px!important;
    }
    .footer-container {
        flex-basis: 100%!important;
        flex-wrap: wrap!important;
        height: 200px!important;
    }
    .footer-links-container {
        flex-basis: 100%!important;
        flex-direction: column!important;
        flex-wrap: wrap!important;
        margin-left: 150px!important;
        margin-top: 50px!important;
    }
    .footer-links-container:nth-child(2) {
        margin-top: -82px!important;
        margin-left: 560px!important;
    }
}
@media screen and (min-width: 1818px)  and (max-width: 7700px) {
    nav {
        margin-top: 40px!important;
        margin-left: 42%!important;
        margin-bottom: 25px!important;
    }
    .prev-arrow-nav {
        z-index: 2;
        position: absolute;
        vertical-align: middle;
        margin-left: 98.5%!important;
        margin-top: 15px!important;
    }
}
@media screen and (min-width: 2050px) {
    .filters-container {
        margin-top: 30px!important;
        margin-bottom: 70px!important;
        min-height: 600px!important;
    }
}
@media screen and (min-width: 2400px) {
    .filters-container {
        margin-bottom: 110px!important;
    }
}
@media screen and (min-width: 2500px) {
    .filters-container {
        margin-bottom: 130px!important;
    }
}
@media screen and (min-width: 2600px) {
    .filters-container {
        margin-bottom: 150px!important;
    }
}
@media screen and (min-width: 2700px) {
    .filters-container {
        margin-bottom: 170px!important;
    }
}
@media screen and (min-width: 2800px) {
    .filters-container {
        margin-bottom: 210px!important;
    }
}
@media screen and (min-width: 2900px) {
    .filters-container {
        margin-bottom: 250px!important;
    }
}
@media screen and (min-width: 3000px) {
    .filters-container {
        margin-bottom: 280px!important;
    }
}
@media screen and (min-width: 3200px) {
    .filters-container {
        margin-bottom: 330px!important;
    }
}
@media screen and (min-width: 3400px) {
    .filters-container {
        margin-bottom: 360px!important;
    }
}
@media screen and (min-width: 3600px) {
    .filters-container {
        margin-bottom: 400px!important;
    }
}
@media screen and (min-width: 3800px) {
    .filters-container {
        margin-bottom: 460px!important;
    }
}
@media screen and (min-width: 4000px) {
    .filters-container {
        margin-bottom: 530px!important;
    }
}
@media screen and (min-width: 4300px) {
    .filters-container {
        margin-bottom: 570px!important;
    }
}
@media screen and (min-width: 4500px) {
    .filters-container {
        margin-bottom: 630px!important;
    }
}
@media screen and (min-width: 4700px) {
    .filters-container {
        margin-bottom: 700px!important;
    }
}
@media screen and (min-width: 4900px) {
    .filters-container {
        margin-bottom: 750px!important;
    }
}
@media screen and (min-width: 5200px) {
    .filters-container {
        margin-bottom: 840px!important;
    }
}
@media screen and (min-width: 5400px) {
    .filters-container {
        margin-bottom: 870px!important;
    }
}
@media screen and (min-width: 5600px) {
    .filters-container {
        margin-bottom: 900px!important;
    }
}
@media screen and (min-width: 5800px) {
    .filters-container {
        margin-bottom: 1050px!important;
    }
}
@media screen and (min-width: 6500px) {
    .filters-container {
        margin-bottom: 1100px!important;
    }
}
@media screen and (min-width: 6800px) {
    .filters-container {
        margin-bottom: 1180px!important;
    }
}
@media screen and (min-width: 7100px) {
    .filters-container {
        margin-bottom: 1280px!important;
    }
}
/*XXL and 4K screens*/
@media screen and (min-width: 3045px) {
    nav {
        margin-left: 70%!important;
    }
}
@media screen and (min-width: 3805px) {
    nav {
        margin-left: 75%!important;
    }
}
@media screen and (min-width: 4100px) {
    nav {
        margin-left: 77%!important;
    }
}
@media screen and (min-width: 4400px) {
    nav {
        margin-left: 78.5%!important;
    }
}
@media screen and (min-width: 5000px) {
    nav {
        margin-left: 80%!important;
    }
}
@media screen and (min-width: 7700px) {
    nav {
        margin-left: 85%!important;
    }
}

/* ===================================================================================================== */
/* 09. Responsive - Smartphones                                                                          */
/* ===================================================================================================== */

/* Screens 415px/375px or less: iphone 6/7/8 iOS 11 Safari 11, iphone X/XS iOS 12 Safari 12, Galaxy S9/S9+ android 7.0 and others */

@media screen and (max-width: 415px) {
    .page-container {
        width: 100%!important;
        overflow: hidden!important;
    }
    h1 {
        width: 70%!important;
        margin-top: -95px!important;
    }
    button.btn-search {
        margin-top: 130px!important;
    }
    .sub-title {
        width: 90%!important;
        padding-top: 20px;
        padding-bottom: 35px;
    }
    .widgets-container {
        z-index: 0!important;
        background-color: var(--grey-bg-header);
        height: 50px;
    }
    header {
        justify-content: center!important;
        height: 65px;
        top: 0;
    }
    .logo {
        flex-basis: 100%!important;
        justify-content: space-around!important;
        width: 170px;
        height: 65px;
    }
    .logo img {
        margin-top: 40px;
    }
    nav,
    nav ul,
    nav ul.menu li {
        visibility: hidden!important;
        box-sizing: border-box!important;
    }
    i.fa.fa-search {
        height: 50px!important;
        margin-top: -30px!important;
        padding-left: 5px!important;
        color: var(--white-font-color)!important;
    }
    i.fa.fa-search:hover {
        color: var(--link-font-color)!important;
    }
    .small-screen-search-icon {
        visibility: visible!important;
        margin-top: -15px!important;
    }
    .filter-title {
        flex-basis: 100%!important;
        margin-left: 10px!important;
        margin-bottom: 15px!important;
    }
    h2.card-title {
        margin: 20px!important;
        margin-top: 60px!important;
        margin-left: 20px!important;
    }
    h1.card-title-page {
        z-index: 1!important;
        margin: 30px 0px 40px 15px!important;
    }
    .footer-container {
        flex-basis: 100%!important;
        flex-wrap: wrap!important;
        height: auto!important;
        height: 300px!important;
    }
    .footer-links-container {
        flex-basis: 100%!important;
        flex-direction: column!important;
        flex-wrap: wrap!important;
        margin-left: 20px!important;
        margin-top: 50px!important;
    }
    .hosting-container {
        position: relative!important;
        margin-top: 20px!important;
    }
    .hosting-container_page {
        position: relative!important;
        margin-top: -35px!important;
    }
    .header-zoom_page {
        z-index: 0!important;
    }
}

/* ===================================================================================================== */
/* 10. Responsive - Tablets                                                                              */
/* ===================================================================================================== */

@media screen and (min-width: 425px) and (max-width: 768px) {
    /*Css Loader*/
    .loader-container {
        height: 780px!important;/*Demo hack*/
        margin-bottom: -780px!important;/*Demo hack*/
        z-index: 0!important;/*Demo hack*/
    }
    nav {
        box-sizing: border-box!important;
        width: 100%!important;
        min-width: 425px!important;
        max-width: 768px!important;
    }
    ul.menu {
        box-sizing: border-box!important;
    }
    .logo {
        flex-basis: 100%!important;
        margin-top: 20px!important;
        margin-left: 50px!important;
    }
    nav {
        justify-content: space-around!important;
    }
    nav ul.menu {
        margin-top: 20px!important;
    }
    nav ul.menu li a {
        padding: 0px 40px 0px 45px!important;
        margin-bottom: 25px!important;
    }
    .widgets-container {
        background-color: var(--grey-bg-header);
        height: 50px!important;
        justify-content: center!important;
    }
    .prev-arrow-nav {
        z-index: 2;
        position: absolute;
        vertical-align: middle;
        margin-left: 700px!important;
        margin-top: -55px!important;
    }
    .fas.fa-arrow-left {
        font-size: 1.25em!important;
    }
    .fas.fa-arrow-left:hover {
        color: var(--green-color)!important;
    }
    .header-zoom {
        width: 100%!important;
        margin-top: -9%!important;
        margin-left: 0%!important;
        background-size: cover!important;
    }
    .header-zoom_page {
        width: 100%!important;
        top:0!important;
        bottom:-50%!important;
        left: 0!important;
        margin-top: 0%!important;
        background-size: cover!important;
        max-height: 250px!important;
    }
    h1.card-title-page {
        z-index: 1;
        margin-top: 30px!important;
        margin-left: 35px!important;
    }
    .filters-container {
        padding-left: 10px!important;
        padding-right: 10px!important;
        min-height: 350px!important;
    }
    .filter-box {
            margin-top: -100px!important;
            margin-bottom: 10px!important;
    }
    .filter-box:nth-child(1) {
        margin-bottom: -60px!important;
    }
    .filter-box:nth-child(2) {
        margin-bottom: 10px!important;
    }
    .filter-box:nth-last-child(1) {
        margin-top: -50px!important;
        margin-bottom: 40px!important;
    }
    .filter-title {
        flex-basis: 100%!important;
        padding-bottom: 60px!important;
        margin-top: -30px!important;
    }
    h2.card-title {
        margin-top: 10px!important;
        margin-left: 35px!important;
    }
    .card-content_icon_page {
        margin-left: 93%!important;
        margin-top: 5%!important;
    }
    .hosting-container_page {
        position: relative!important;
        justify-content: space-around!important;
    }
    .menu-type-container-01{
        margin-left: -10px!important;
    }
    .menu-type-container-02 {
        margin-top: 137px!important;
    }
    .menu-type-container-03 {
        margin-top: 90px!important;
    }
    .form-container_page {
        flex-basis: 100%!important;
        flex-wrap: wrap;
        justify-content: space-around!important;
        margin-top: -140px!important;
    }
    #hosting {
        margin-top: 0px!important;
    }
    .hosting-container {
        margin-top: -35px!important;
    }
    .card-link-activities:nth-child(1) {
        margin-left: 25px!important;
        margin-right: 15px!important;
        margin-top: -200px!important;
    }
    .hosting-card-02,
    .hosting-card-04 {
        margin-left: 20px!important;
    }
    .hosting-card-03 {
        margin-left: -345px!important;
    }
    .card-link-activities:nth-last-child(1) {
        margin-top: -270px!important;
        margin-left: 350px!important;
    }
    .hosting-wrap-container {
        margin-top: 70px!important;
    }
    h2.footer-title {
        margin-top: -10px!important;
    }
    .footer-container {
        flex-basis: 100%!important;
        flex-wrap: wrap!important;
    }
    .footer-links-container {
        flex-basis: 100%!important;
        flex-direction: column!important;
        flex-wrap: wrap!important;
        margin-left: 35px!important;
        margin-top: 50px!important;
    }
    .footer-links-container:nth-child(2) {
        margin-top: -82px!important;
        margin-left: 300px!important;
    }
}

@media screen and (min-width: 800px) and (max-width: 980px) {
    .filters-container {
        justify-content: space-between!important;
    }
    .filter-box:last-child {
        margin-top: 10px!important;
        margin-left: 130px!important;
    }
}

/* ===================================================================================================== */
/* 11. Responsive - Laptops                                                                              */
/* ===================================================================================================== */

/* Laptops Screens between 800px and 1440px */

@media screen and (min-width: 800px) and (max-width: 1440px) {
    /*Css Loader*/
    .loader-container {
        height: 1295px!important;/*Demo hack*/
        margin-bottom: -1295px!important;/*Demo hack*/
        z-index: 0!important;/*Demo hack*/
    }
    .logo {
        display: flex;
        flex-basis: 25%!important;
        margin-top: 0px!important;
        padding-left: 50px!important;
    }
    /*Navigation Menu */
    nav {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end!important;
        box-sizing: border-box!important;
        /*width: 100%!important;
        min-width: 425px!important;
        max-width: 768px!important;*/
    }
    nav ul.menu {
        display: flex;
        position: relative;
        flex-basis: 75%!important;
        margin-top: 40px!important;
        list-style: none;
        flex-direction: row!important;
        box-sizing: border-box!important;
    }
    nav ul.menu li a {
        display: inline-block!important;
        padding: 0px 60px 0px 0px!important;
        margin-bottom: 25px!important;
        font-size: 1.000em!important;
        text-transform: none;
        text-decoration: none;
        letter-spacing: 0.5px!important;
    }
    .widgets-container {
        background-color: var(--grey-bg-header);
        height: 50px!important;
        justify-content: center!important;
    }
    .filters-container {
        padding-left: 10px!important;
        padding-right: 10px!important;
        min-height: 200px!important;
    }
    .filter-title {
        flex-basis: 100%!important;
    }
    .filter-box {
        margin-top: -130px!important;
        margin-bottom: 10px!important;
    }
    .filter-box:nth-child(1) {
        margin-bottom: -60px!important;
    }
    .filter-box:nth-child(2) {
        margin-bottom: 10px!important;
    }
    .filter-box:nth-last-child(1) {
        margin-top: -130px!important;
    }
    .filter-title {
        flex-basis: 100%!important;
        padding-bottom: 60px!important;
        margin-top: -40px!important;
    }
    h2.card-title {
        margin-left: 35px!important;
        margin-top: 0%!important;
    }
    .card-content_icon_page {
        margin-left: 94.5%!important;
        margin-top: 2.5%!important;
    }
    .prev-arrow-nav {
        z-index: 2;
        position: absolute;
        vertical-align: middle;
        margin-left: 94%!important;
        margin-top: 0px!important;
    }
    .fas.fa-arrow-left {
        font-size: 1.25em!important;
    }
    .fas.fa-arrow-left:hover {
        color: var(--green-color)!important;
    }
    .header-zoom {
        width: 100%!important;
        margin-top: -9%!important;
        margin-left: 0%!important;
        background-size: cover!important;
    }
    .header-zoom_page {
        width: 100%!important;
        top:0!important;
        bottom:-50%!important;
        left: 0!important;
        margin-top: 0%!important;
        background-size: cover!important;
        max-height: 600px!important;
    }
    h1.card-title-page {
        z-index: 1;
        margin-top: 30px!important;
        margin-left: 35px!important;
    }
    .filters-container {
        padding-left: 10px!important;
        padding-right: 10px!important;
        min-height: 300px!important;
    }
    .card-content_icon_page {
        margin-left: 94%!important;
        margin-top: 2.7%!important;
    }
    .hosting-container {
        margin-top: -35px!important;
    }
    .hosting-container_page {
        position: relative!important;
        justify-content: space-around!important;
    }
    h1.card-title-page {
        margin-top: 30px!important;
        margin-left: 35px!important;
    }
    h2.card-title {
        margin-left: 35px!important;
    }
    .menu-type-container-01{
        margin-left: -10px!important;
    }
    .menu-type-container-02 {
        margin-top: 137px!important;
    }
    .menu-type-container-03 {
        margin-top: 135px!important;
    }
    .form-container_page {
        flex-basis: 100%!important;
        margin-top: -120px!important;
        flex-wrap: wrap;
        justify-content: space-around!important;
    }
    #hosting {
        margin-top: 0px!important;
    }
    .card-link-activities:nth-child(1) {
        margin-left: 25px!important;
        margin-right: 15px!important;
        margin-top: -200px!important;
    }
    .hosting-card-02,
    .hosting-card-04 {
        margin-left: 20px!important;
    }
    .hosting-card-03 {
        margin-left: -345px!important;
    }
    .card-link-activities:nth-last-child(1) {
        margin-top: -270px!important;
        margin-left: 350px!important;
    }
    .hosting-wrap-container {
        margin-top: 70px!important;
    }
    h2.footer-title {
        margin-top: -10px!important;
    }
    .footer-container {
        flex-basis: 100%!important;
        flex-wrap: wrap!important;
        max-height: 150px;
    }
    .footer-links-container {
        flex-basis: 100%!important;
        flex-direction: column!important;
        flex-wrap: wrap!important;
        margin-left: 35px!important;
        margin-top: 50px!important;
    }
    .footer-links-container:nth-child(2) {
        margin-top: -82px!important;
        margin-left: 400px!important;
    }
}
@media screen and (min-width: 800px) and (max-width: 1050px) {
    .logo {
        flex-basis: 15%!important;
        padding-left: 30px!important;
        margin-top: 0px!important;
    }
    /*Navigation Menu */
    nav ul.menu {
        display: flex;
        position: relative;
        flex-basis: 92%!important;
        margin-top: 40px!important;
        list-style: none;
        flex-direction: row!important;
        box-sizing: border-box!important;
    }
    nav ul.menu li a {
        display: inline-block!important;
        padding: 0px 60px 0px 0px!important;
        margin-bottom: 25px!important;
        font-size: 1.000em!important;
        text-transform: none;
        text-decoration: none;
        letter-spacing: 0.5px!important;
    }
    .filter-box:nth-last-child(1) {
        position: relative!important;
        left: 13%!important;
    }
}
@media screen and (min-width: 800px) and (max-width: 868px) {
    .logo {
        flex-basis: 15%!important;
        padding-left: 30px!important;
        margin-top: 20px!important;
    }
    nav ul.menu {
        flex-basis: 90%!important;
    }
}
@media screen and (min-width: 868px) and (max-width: 949px) {
    .filter-box:nth-last-child(1) {
        left: 17%!important;
    }
}
@media screen and (min-width: 950px) and (max-width: 980px) {
    .filter-box:nth-last-child(1) {
        left: 18%!important;
    }
}
@media screen and (min-width: 981px) and (max-width: 1050px) {
    .filter-box:nth-last-child(1) {
        left: 0%!important;
    }
}
@media screen and (min-width: 1051px) and (max-width: 1100px) {
    nav ul.menu {
        flex-basis: 95%!important;
    }
    .filter-box:nth-last-child(1) {
        left: 7%!important;
    }
}
@media screen and (min-width: 1101px) and (max-width: 1150px) {
    nav ul.menu {
        flex-basis: 95%!important;
    }
    .filter-box:nth-last-child(1) {
        left: 7%!important;
    }
}
@media screen and (min-width: 1151px) and (max-width: 1200px) {
    nav ul.menu {
        flex-basis: 90%!important;
    }
    .filter-box:nth-last-child(1) {
        left: 7%!important;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1280px) {
    nav ul.menu {
        flex-basis: 76%!important;
    }
    .filter-box:nth-last-child(1) {
        left: 7%!important;
    }
}
@media screen and (min-width: 1281px) and (max-width: 1350px) {
    nav ul.menu {
        flex-basis: 75%!important;
    }
    .filter-box:nth-last-child(1) {
        left: 7%!important;
    }
}
@media screen and (min-width: 1351px) and (max-width: 1439px) {
    nav ul.menu {
        flex-basis: 75%!important;
    }
    .filter-box:nth-last-child(1) {
        left: 7%!important;
    }
}
@media screen and (min-width: 1440px) and (max-width: 1469px) {
    nav ul.menu {
        flex-basis: 95%!important;
        margin-left: 30%!important;
    }
    .filter-box:nth-last-child(1) {
        left: 7%!important;
    }
}
@media screen and (min-width: 1470px) and (max-width: 1440px) {
    nav ul.menu {
        flex-basis: 97%!important;
        margin-left: 30%!important;
    }
    .hosting-container {
        justify-content: center!important;
    } 
    .hosting-card-04{
        margin-top: 730px!important;
        margin-left: -720px!important;
    }
}